.leftBlock>button{
    border-radius: 10px;
    margin-top: 5px;
}

.leftBlock{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #EDF2F4;
    margin-right: 15px;
    padding: 15px 5px;
}