@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header{
  background-color: #ffffff;
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

main{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgb(145, 155, 204), rgb(79, 68, 131));
  flex-direction: column;
}

.post{
  flex-direction: column;
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  margin: 20px 0;
  min-width: 50%;
}

.post__header{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.post__header>h3{

}