@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

html{
  overflow-x: hidden;
}


main{
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to bottom, #d9d9d9, #d9d9d9);
  flex-direction: column;
  overflow-x: hidden;
}


button:hover{
  filter: brightness(0.8);
  transition: all 0.2s;
}

